body{
                background-color: rgb(45, 43, 43);
            }

            .title{
                margin-left:150px;
                color:white;
                font-size:50px;
                font-family:bold;

                
            }

            .currScore
            {
                margin-left:250px;
                color:white;
                font-size:20px;
                font-family:bold;
                margin-top:60px;

            }

            .result{
                margin-left:160px;
                color:white;
                font-size:20px;
                font-family:bold;
                margin-top:60px;

            }

            button{
                background-color: blueviolet;
                height:100px;
                width:100px;
                margin-right:30px;
                margin-left:80px;
                border-radius: 50%;
                border:none;
                transition:box-shadow 0.5s;
                color:white;
                font-size:20px;
            }

            button:active{
                background-color: white;
                color:blueviolet;
            }

            button:hover{
                box-shadow:0px 0px 50px rgb(255, 255, 255);
            }


            .reset{
                margin-top:70px;
                margin-left:280px;
            }

            .complement{
                font-size:15px;
                margin-left:250px;
                color:white;
            }

            img{
                height:70px;
            }